
body{
  font-family: 'Titillium Web', sans-serif;
}

#logo {
  margin-top: 5%;
  width: 100px;
  height: 100px;
}
#appName{
  font-size: 4vw;

}

.container {
  width: 80%;
}

#loginButton, #budgetButton, #checkOut {

  border: none;
  background-color: #2EC4B6;
  padding: 10px;
  border-radius: 10px;
  color: white;
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 0px #189699;
}

.buy {
  border: none;
  background-color: #2EC4B6;
  padding: 2px 10px;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 5px 0px #189699;
  margin-bottom: 5%;
}

#confirm, #cancel, #sell {
  border: none;
  background-color: #2EC4B6;
  padding: 5px 20px;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 5px 0px #189699;
  margin: 5px;
}

#sell {
  display: block;
  margin: 0 auto;

}

#budgetButton {
  margin-top: 5%;
}

#login {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: #CBF3F0;
  width: 30%;
  height: 30%;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #2EC4B6;

}

body {
  background-color: #FFFFFF;
}


#enterBudget {

  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border-radius: 20px;
  padding: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #2EC4B6;
}

#userBudget {
  border-radius: 10px;
  height: 50px;
  width: 50%;
  font-size: 30px;
}

#enterBudget h2 {
  color: #2EC4B6;
  margin-top: -10px;
}

#budgetPriceDisplay {
  background-color: #CBF3F0;
  color: #2EC4B6;
  /*width: 100%;*/
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #2EC4B6;
}

.stock {
  margin-top: 2%;
  background-color: #CBF3F0;
  padding: 10px;
  border-radius: 10px;
}

#displayText {
  color: #2EC4B6;
  margin-left: 10px;
  text-align: center;
  /*text-decoration: underline;*/
}

.logos {
  width: 128px;
  height: 128px;
  border-radius: 10%;
}

#stockOptions {
  text-align: center;
  margin-bottom: 5%;

}

#navigation {
  background-color: #2EC4B6;
  border: none;
  color: #FFFFFF;
}

#headerText {
  color: #FFFFFF;
}

li {
  margin: 15px;
  margin-top: 25px;
  font-size: 17px;
}

li:hover {
  cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

caption {
  background-color: #2EC4B6;
  color: white;
  font-size: 20px;
  padding-left: 20px;
  text-align: center;
}

#investmentSection h2, h1 {
  text-align: center;
  color: #2EC4B6;
}
#pic {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-top: 10px;
}

#checkoutFooter {
  background-color: #CBF3F0;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #2EC4B6;
}

.stockName {
  font-weight: bold;
  text-decoration: underline;
}

button {
  position: relative;
}

*:focus {
  outline: 0;
}

#userBuy {
  text-align: center;
}

@media only screen and (max-width: 500px) {
  #login, #enterBudget {
    width: 100%;
    height: 100%;
  }
  #appName{
    font-size: 8vw;
  }
}
